.u-textCenter
    img(src="/assets/img/icon-pain.png")
h1.Headline Pain Management
p Experiencing pain, in the short-term or long-term has a significant impact on your quality of life. Chinese medicine has many tools available to reduce and resolve many types of pain conditions including:
ul
    li musculo-skeletal pain
    li neurological pain
    li pain associated with the menstrual cycle
    li psycho-emotional suffering

p Pain management is one of the key areas that acupuncture is recognised for. If you, a family-member or friend is suffering, consider this type of highly effective, non-invasive and drug-free treatment.

!= partial("../_shared/back-conditions")
