.u-textCenter
    img(src="/assets/img/icon-acupuncture-neutral.png")

h1.Headline Acupuncture

p Acupuncture involves the insertion of fine, single-use, sterile needles into specific locations called acupoints which lie on the meridians. The meridians are a network of energetic pathways that connect the functions of the internal organs to the broader functions of the body.

p By inserting acupuncture needles into prescribed locations on these pathways, the body's homeostatic functions are activated. As the body returns to its natural state of equilibrium, there is no longer a place for illness or disease. <a href="/faqs" class="Text--inlineAnchor">Learn more</a>

!= partial("../_shared/back-treatments")
