.u-textCenter
    img(src="/assets/img/icon-fertility.png")
h1.Headline Fertility & IVF Support

p Thomas works with women and couples who want to optimise their pregnancy, as well as assisting those who are having difficulties falling pregnant - alongside or independent of IVF treatment. Thomas provides treatment at all stages of pregnancy:

ul
    li pre-conception
    li conception (including IVF support)
    li maintaining good health and managing adverse symptoms through pregnancy
    li preparing for labour, turning babies in breech, transverse and posterior presentations
    li after birth care for the new mum

p There is a growing evidence-base in support of the use of acupuncture and Chinese herbs to facilitate healthy pregnancy.

!= partial("../_shared/back-conditions")
