section
    h2.SectionRule
        a(href="/about") About Thomas

    article
        h1.ArticleTitle
            a(href="/about") Over a decade enabling self-healing
        //- p Thomas has been caring for residents of the Inner West since 2002 using shiatsu, adding acupuncture and Chinese herbal medicine to his practice in 2007. His areas of clinical focus are musculoskeletal conditions, stress, pain management and menstrual/ fertility irregularities and he welcomes people suffering from a wide range of health conditions.
        //- p He is a registered practitioner with both the AHPRA regulated Chinese Medicine Registration Board (CMRB) and the peak industry representative body, the Australian Acupuncture and Chinese Medicine Association (AACMA).
        //- p Thomas is a lecturer and clinical supervisor with the Faculty of Chinese Medicine at Endeavour College Sydney, and a guest lecturer with the Faculty of Shiatsu & Oriental Therapies at Nature Care College. <a href="/about" class="Text--inlineAnchor">Read more</a href="/about">

        p Thomas runs Bellflower Chinese Medicine at Centro Innovative Health, in Wellington Street, West Perth. He and his family have recently relocated to enjoy Perth's famous quality of life.
        p His areas of clinical focus are musculoskeletal conditions, stress reduction, pain management and menstrual/ fertility irregularities - and he welcomes people suffering from a wide range of health conditions.
        p Thomas had previously been caring for residents of the Inner West of Sydney since 2002, where he ran a successful clinic in the suburb of Newtown. Originally working as a shiatsu therapist, he added the powerful modalities of acupuncture and Chinese herbal medicine upon qualifying with a Bachelor of Health Science (TCM) from UTS in 2007.
        p He is a registered practitioner with both the AHPRA regulated Chinese Medicine Registration Board (CMRB) and the peak industry representative body, the Australian Acupuncture and Chinese Medicine Association (AACMA).
        p Thomas is a lecturer with the Faculty of Chinese Medicine at Endeavour College Perth, and previously lectured and supervised students undergoing clinical training at Endeavour's Sydney Campus. He was also a guest lecturer with the Faculty of Shiatsu & Oriental Therapies at Nature Care College in Sydney.
        p Thomas is completing his Master of Arts (International Studies) with a focus on knowledge transmission in Chinese Medicine. <a href="/about" class="Text--inlineAnchor">Read more</a href="/about">
