.u-textCenter
    img(src="/assets/img/icon-shiatsu-neutral.png")

h1.Headline Shiatsu & Adjunct Therapies

p Thomas uses a number of complementary therapeutic methods within the course of treatment.

ul
    li
        span.Text--inlineEmph Shiatsu Massage.
        | A form of Japanese tactile therapy

    li
        span.Text--inlineEmph Moxibustion.
        | Gentle heat therapy applied through various applications of the ignited mugwort plant

    li
        span.Text--inlineEmph Cupping.
        | Glass cups are applied to the large muscle groups once the oxygen is removed, which creates a vacuum. Great for muscle pain and tension as well as numerous other conditions

    li
        span.Text--inlineEmph Gua Sha.
        | The skin is scraped to reduce pain and tightness in the muscles. Often used in conjunction with acupuncture and massage

    li
        span.Text--inlineEmph Liniments.
        | Medicated herbal liniments are very effective when used to rehabilitate strains and sprains as well as for muscle bruising, tightness, inflammation and more

p These methods are supplementary to essential treatment methods. <a href="/faqs" class="Text--inlineAnchor">Learn more</a>

!= partial("../_shared/back-treatments")
