section
    h2.SectionRule
        a(href="/about") About Thomas

    article
        h1.ArticleTitle
            a(href="/about") Over a decade enabling self-healing
        //- p Thomas has been caring for residents of the Inner West since 2002 using shiatsu, adding acupuncture and Chinese herbal medicine to his practice in 2007. His areas of clinical focus are musculoskeletal conditions, stress, pain management and menstrual/ fertility irregularities and he welcomes people suffering from a wide range of health conditions.
        //- p He is a registered practitioner with both the AHPRA regulated Chinese Medicine Registration Board (CMRB) and the peak industry representative body, the Australian Acupuncture and Chinese Medicine Association (AACMA).
        //- p Thomas is a lecturer and clinical supervisor with the Faculty of Chinese Medicine at Endeavour College Sydney, and a guest lecturer with the Faculty of Shiatsu & Oriental Therapies at Nature Care College. <a href="/about" class="Text--inlineAnchor">Read more</a href="/about">

        p Thomas is a highly experienced acupuncturist, Chinese herbalist and shiatsu therapist, having been in continuous practice since 2007. His areas of clinical focus are musculoskeletal conditions, stress, pain management, women's health and fertility support. He welcomes people suffering from a wide range of health conditions.

        p He is a registered practitioner with both the AHPRA regulated Chinese Medicine Registration Board (CMRB) and the peak industry representative body, the Australian Acupuncture and Chinese Medicine Association (AACMA).

        p Thomas is a lecturer with the Faculty of Chinese Medicine at Endeavour College Perth and previously lectured and supervised students undergoing clinical training at Endeavour's Sydney campus. He was also guest lecturer with the Faculty of Shiatsu & Oriental Therapies at Nature Care College. <a href="/about" class="Text--inlineAnchor">Read more</a href="/about">
