.u-textCenter
    img(src="/assets/img/icon-tcm-neutral.png")

h1.Headline Chinese Herbal Medicine

p Chinese herbal medicine is a highly developed branch of TCM in which natural ingredients are combined in specific ways to address the multitude of complaints that patients present with in clinic. While there are many traditional formulae used in modern practice, the beauty of this modality is that formulae can be modified to each individual's particular requirements. This kind of personalised treatment is one of the main strengths of Chinese herbal medicine and TCM in general.

p Thomas' priority in practice is the treatment of the individual and not just the disease. Chinese herbal medicine is a wonderful way of doing this. <a href="/faqs" class="Text--inlineAnchor">Learn more</a>

!= partial("../_shared/back-treatments")
