.u-textCenter
    img(src="/assets/img/icon-acupuncture.png")

h1.Headline Acupuncture

p One of the main branches of Chinese Medicine, acupuncture involves the insertion of fine, single-use, sterile needles into specific locations in the body. These locations, called acupoints, lie on the meridians, which are a network of energetic pathways that connect the functions of the internal organs to the broader functions of the body.

p It is believed that by inserting acupuncture needles into prescribed locations on these pathways, the body's homeostatic functions are activated. As the body returns to its natural state of equilibrium, there is no longer a place for illness or disease.

h3.Subheadline What does acupuncture feel like?

p Acupuncture is generally a pain-free experience, with the desired response to needling being a numbness, heaviness or tingling sensation around the insertion point. That said, there are varying methods and techniques that relate to differing styles of acupuncture, some of which involve deeper insertion and stronger needle manipulation, with others being shallow and extremely gentle. Thomas's primary concern is the comfort and wellbeing of each of his patients and as such, he is committed to ensuring that each patient receives the treatment that they need.

h3.Subheadline How long does a session last?

p The initial consultation lasts just under 60 minutes. As well as treatment, this is where Thomas takes your case history and discusses your requirements in depth. Each session after this usually lasts between 45 minutes and an hour.

h3.Subheadline How many sessions will I need?

p This is completely dependant on your condition, whether it is acute or chronic, as well as other factors such as your age and constitution. During your first session Thomas will discuss what he feels is an appropriate course of treatment with you. Treatment falls into three stages:

ul
    li Relief Care
    li Restorative Treatment
    li Wellbeing Maintenance
    li An initial course of treatment might be anything from 6-10 sessions, with follow-up appointments to restore and then maintain good health.

h3.Subheadline What else is involved?

p Thomas may use any combination of the following, as required: Chinese herbal medicine, moxibustion, cupping, herbal liniments, electro-acupuncture, gua sha and shiatsu. Please ask about these adjunct therapies when you book your appointment.

!= partial("../_shared/back-faq")
