.u-textCenter
    img(src="/assets/img/icon-tcm.png")

h1.Headline Chinese Herbal Medicine

p Chinese herbal medicine is a highly developed branch of TCM in which natural ingredients are combined in specific ways to address the multitude of complaints that patients present with in clinic. While there are many traditional formulae used in modern practice, the beauty of this modality is that formulae can be modified to each individual's particular requirements. This kind of personalised treatment is one of the main strengths of Chinese herbal medicine and TCM in general.

h3.Subheadline Why Chinese herbs?

p Say for example, that you came to the clinic to address your insomnia, but that you also suffered from anxiety, lower back pain and poor concentration. The formula you may be prescribed would address all of these symptoms, not just your main complaint.

p Thomas' priority in practice is the treatment of the individual and not just the disease. Chinese herbal medicine is a wonderful way of doing this.

h3.Subheadline How do I take my herbs?

p There are a number of ways of taking herbal medicine. Thomas works with two in particular as he has found them to be most successful in the modern Australian environment.

ul
    li
        span.Text--inlineEmph Granules
        | are the most superior method of consumption. In this method,  the herbal formula is decocted in a traditional method from the raw herbal ingredients, then dried and mixed with cornstarch to make a powder. The powder is mixed with a small amount of warm water and then consumed. Thomas has found this to be the most successful and manageable method of consumption. The potency of the pharmacological agents is high and the formula is rapidly absorbed by the body.
    li
        span.Text--inlineEmph Capsules
        | are also effective, but is less potent than the granules. Herbal formulae are powdered and made up into capsules. Absorption is relatively fast. The strength of this method is that the capsules are tasteless!

p Herbal medicine is generally taken 2 or 3 times daily, with modifications made by Thomas as required. You can benefit from thousands of years of clinical practice by taking herbal medicine that still has astonishing relevance in today's healthcare community.

h3.Subheadline Is herbal medicine safe?

p In a word, yes - when it is prescribed by a qualified professional and taken according to their recommendations. All products used by Thomas are approved by the Therapeutic Goods Administration (TGA) ensuring their quality, safety and efficacy. The ingredients are all natural. Feel free to contact Thomas if you have any questions about your herbs, the dosages, or any concerns you may have at all.

h3.Subheadline What about endangered species?

p As the Chinese herbal materia medica is so large, there are many alternatives to ingredients that have been historically taken from endangered plants and animals. Thomas does not use any herbal medical product containing animal or plant derivatives that come from endangered species. Thomas is registered with the Endangered Species Certification Scheme (ESCS), administered by AACMA. Practitioners with this certification do not use or support the use of herbal products containing illegally traded wildlife ingredients.

!= partial("../_shared/back-faq")
