.u-textCenter
    img(src="/assets/img/icon-musculoskeletal.png")
h1.Headline Sports Injuries & Musculoskeletal Care

p
    | Injury rehabilitation falls into three categories:
ul.numbered
    li
        span.Text--inlineEmph Acute care.
        | When the strain, sprain, bruise or fracture has just happened and 1-2 weeks post injury, depending on severity. Appropriate treatment at this phase can reduce inflammation and pain, as well as direct you towards correct long-term rehabilitation.
    li
        span.Text--inlineEmph Post-acute care.
        | Treatment at this stage is based on restoring correct function, reducing pain and restoring unimpeded blood flow to the injury site. This type of treatment activates your body's innate self-healing mechanisms.
    li
        span.Text--inlineEmph Chronic injury care.
        | This phase of treatment is aimed at dealing with old injuries that have not been rehabilitated correctly, to relieve long-term pain and restore integrity to the affected muscles.

h3.Subheadline General Muscle Soreness and Stiffness
p
    | Pain and restricted muscle function arising from daily activities, such as office work, repetitive stress factors and generalised muscle problems. These types of conditions respond fantastically well to acupuncture and cupping, massage, gua sha and heat therapy. Stress is also a factor that can impact on musculo-skeletal health. Chinese herbs can also benefit.

!= partial("../_shared/back-conditions")
