.u-textCenter
    img(src="/assets/img/icon-menstrual.png")
h1.Headline Women's Health
p Many women suffer from menstrual irregularities, that are often mis-diagnosed and not treated, or treated incorrectly.
p Chinese medicine, including acupuncture and herbal medicine aims at regulating the functioning of the related organs, to reduce the symptoms and restore a regular pain-free cycle.
p The types of irregularities that can be addressed include:
ul
    li dysmennorhoea, amennorhoea
    li Polycystic Ovarian Syndrome
    li endometriosis
    li menorrhagia
    li unwanted emotional changes related to your cycle

!= partial("../_shared/back-conditions")
