.u-textCenter
    img(src="/assets/img/icon-shiatsu.png")

h1.Headline Shiatsu & Adjunct Therapies

p Thomas uses a number of complementary therapeutic methods and techniques within the course of treatment.

h3.Subheadline Shiatsu Massage
p This form of Japanese massage is based on Chinese medical diagnostic principles, making it a wonderful addition to the clinic. Shiatsu involves the rhythmic application of pressure to the meridians, specific acupoints as well as to underlying physical substructures. It is commonly used to relieve muscle tension, to calm the mind and reduce stress - and to restore energetic balance within your system. Shiatsu induces deep relaxation, simultaneously calming and stimulating the nervous system.

h3.Subheadline Moxibustion
p
    Moxibustion is the primary Chinese medical method of heat therapy. Moxa (
    span.Text--emphasis mugwort artemesia vulgaris
    ) is used to introduce heat into the body due to its gentle warming effect and because it produces minimal ash. Moxibustion is commonly used to tonify areas of weakness, to move areas of stagnation and to introduce heat when the body shows signs of cold.

p It can be applied in a number of ways, both indirectly and directly. The most common indirect methods (where the moxa does not come into contact with the skin) are the moxa stick, the moxa box and the warm-needle technique. Other methods are also frequently used.

ul
    li
        | A Moxa Stick is a cigar-shaped roll which is lit at one end and held for periods of time over the desired area. This is a flexible method which allows heat to be introduced over both broad and specific regions.
    li
        | An open-bottomed Moxa Box has loose punk moxa lit and put inside it. Placed onto the body it allows for warming to occur over a larger area, such as the lower back or abdomen.

h3.Subheadline Warm Needle Technique
p This method combines acupuncture and moxibustion. Cones of moxa are placed on the ends of the needles before being lit. The heat travels down the needles and into the body, creating a deeply penetrating and effective method of heat therapy.

h3.Subheadline Cupping
p Cupping is a fantastic method for drawing out stagnation, commonly ofqi and blood. The oxygen is taken out of glass cups, creating a vacuum. The cups are then placed immediately onto the surface of the body in the appropriate locations. The skin is sucked up into the cups, gently pulling apart the layers of tissue beneath the skin. This allows for old, dead blood to flush away and fresh, new blood to flow into the tissues, resulting in reduction in pain and the regeneration of damaged tissue.Cupping can reduce muscle tension and reduce the symptoms of colds and flu. Sign of effective treatment is when sha (temporary discolouration of the skin) occurs.

h3.Subheadline Gua Sha
p Gua Sha is a method of scraping the skin in order to clear stagnation ofqi and blood. This is generally used on tight, sore muscles in combination with acupuncture and massage.

h3.Subheadline Electro-acupuncture
p Electro-acupuncture involves sending a gentle electrical circuit through the acupuncture needles which are already in place. Once a circuit is created, the acupuncture can have a further-reaching effect. Electro-acupuncture stimulates blood flow, micro-circulation in local tissue, as well as causing endorphin/encephalin release - and as such is extremely useful in the treatment of pain conditions. Used commonly in the hospital system in China, electro-acupuncture is employed when a stronger method is required.

h3.Subheadline Liniments
p There are many differing Chinese herbal liniments that can be applied. They are commonly used for musculo-skeletal complaints, aiding in the regeneration of tissue (muscle, tendon, ligament and even bone), post trauma. Herbal liniments are very effective when used to rehabilitate strains and sprains as well as for other sport-related injuries.

!= partial("../_shared/back-faq")
