.u-textCenter
    img(src="/assets/img/icon-stress.png")
h1.Headline Stress Reduction
p
    | Known as the 'Silent Killer', stress is an important causative factor in many minor and major illnesses.
p
    | It is hard to avoid altogether, however with effective stress management techniques, its impact can be significantly reduced. With regular acupuncture, massage and herbs, your quality of life can be restored and serious illness can be avoided.
p
    | Stress manifests physically and cognitively, with symptoms such as:
ul
    li anxiety, irritability, poor concentration,
    li insomnia, forgetfulness, depression
    li headaches & muscle aches
    li digestive disorders such as Irritable Bowel Syndrome
    li fatigue, weight changes
    li menstrual problems
p
    | Stress can also lead to serious health conditions such as heart attack and stroke. Treatment in the initial phase is aimed at reducing the manifestations of stress, however they occur for you. Once under control, regular periodic acupuncture and herbs can be a highly effective part of your stress management practice.

!= partial("../_shared/back-conditions")
