.ButtonContainer
    a.Button.Button--primary(href="mailto:info@bellflowerchinesemedicine.com.au") Make a booking

.Container
    section.Locations
        != partial("locations.jade")

    nav.Nav
        a(href="/") Home
        | <span> <em>•</em> </span>
        a(href="/about") About
        | <span> <em>•</em> </span>
        a(href="/blog/archive") Blog
        | <span> <em>•</em> </span>
        a(href="/faqs") FAQs
        | <span> <em>•</em> </span>
        a(href="#Top") top

        p.TextSans.u-textCenter
            | ©2014 Bellflower Chinese Medicine. ABN 28286099359.
            br
            | Website by <a href="http://callumflack.com">Callum Flack</a>. Icons by <a href="mailto:glrk69@gmail.com">Richard Kan</a>.
