.Grid.Grid--withGutter
    .Grid-cell.u-size1of3.u-sm-size1of2
        h4
            | The Buddha Bar
            br
            | Healing Clinic
        P T: 02 9517 9725
        p
            a(href="https://www.google.com.au/maps/place/434+King+St,+Newtown+NSW+2042/@-33.900495,151.178539,17z/data=!3m1!4b1!4m2!3m1!1s0x6b12b0364a26c76d:0xdf5a98076e4d47b5")
                | 434 King Street
                br
                | Newtown NSW 2042
        p
            | Tuesday 10am–8pm
            br
            | Thursday 10am–8pm

    .Grid-cell.u-size1of3.u-sm-size1of2
        h4 Centro Innovative Health
        p T: 08 9226 0561
        p
            a(href="https://www.google.com.au/maps/place/953+Wellington+St,+West+Perth+WA+6005/@-31.946931,115.843473,17z/data=!3m1!4b1!4m2!3m1!1s0x2a32a531b4f93bc1:0xfe96aaf7cef85bf7")
                | 953 Wellington St
                br
                | West Perth 6005
        //- p
        //-     | Wednesday 8am–4pm
        //-     br
        //-     | Friday 1pm–7pm
        //-     br
        //-     | Saturdays 8am–1pm <span class="TextSans TextSans--sm">(Alternating)</span>

    .Grid-cell.u-size1of3.u-sm-sizeFull.xs-marginTS
        .Grid.u-cf
            .Grid-cell.u-sm-sizeFit.u-sm-size1of2
                h4 Contact
                p
                    | M: 0401 322 061
                p
                    a(href="mailto:info@bellflowerchinesemedicine.com.au") Email Bellflower

            .Grid-cell.u-sm-sizeFit.u-sm-size1of2
                .socialIcon
                    a(href="http://au.linkedin.com/in/thomascrooks" target="_blank")
                        i.foundicon-linkedin
                    a(href="https://www.facebook.com/bellflowerchinesemedicine" target="_blank")
                        i.foundicon-facebook
