.Grid.Grid--withGutterLg
    .Grid-cell.u-size5of12.u-before1of12.u-sm-size1of2.u-sm-before0of12.u-textRight
        h4.u-textRight Centro Innovative Health
        p T: 08 9226 0561
        p
            a(href="https://www.google.com.au/maps/place/953+Wellington+St,+West+Perth+WA+6005/@-31.946931,115.843473,17z/data=!3m1!4b1!4m2!3m1!1s0x2a32a531b4f93bc1:0xfe96aaf7cef85bf7")
                | 953 Wellington St
                br
                | West Perth 6005

    .Grid-cell.u-size5of12.u-sm-size1of2
        h4 Contact and connect
        p M: 0401 322 061
        p
            a(href="mailto:info@bellflowerchinesemedicine.com.au") Email Bellflower
        .socialIcon
            a(href="http://au.linkedin.com/in/thomascrooks" target="_blank")
                i.foundicon-linkedin
            a(href="https://www.facebook.com/bellflowerchinesemedicine" target="_blank")
                i.foundicon-facebook
            a(href="https://plus.google.com/111287938629330906805/posts" rel="publisher" target="_blank")
                i.foundicon-google-plus


