//- link(href='//cdn-images.mailchimp.com/embedcode/slim-081711.css', rel='stylesheet', type='text/css')
      
#mc_embed_signup
    form#mc-embedded-subscribe-form.validate(action='http://chinesemedicinesydney.us4.list-manage1.com/subscribe/post?u=6c4e4238447f13fe408a4b3c3&id=1996b4ea65', method='post', name='mc-embedded-subscribe-form', target='_blank', novalidate='novalidate')
  
        input#mce-EMAIL.email(type='email', value='', name='EMAIL', placeholder='Your email address', required='required')
        div(style='position: absolute; left: -5000px;')
            input(type='text', name='b_6c4e4238447f13fe408a4b3c3_1996b4ea65', tabindex='-1', value='')
        input#mc-embedded-subscribe.button(type='submit', value='Subscribe', name='subscribe')
