!= partial("../_shared/header")
.Container
    article.Article
        //- h1.ArticleTitle Over a decade enabling self-healing.
        
        p.Text--dropCap Thomas is a practitioner of acupuncture and Chinese herbal medicine, as well as practicing shiatsu massage. Specialising in the treatment of musculoskeletal conditions, stress reduction, pain management and menstrual/fertility irregularities, he works with people suffering from a wide range of health conditions. He is a member of the AHPRA regulated Chinese Medicine Registration Board (CMRB) and the peak industry representative body, the Australian Acupuncture and Chinese Medicine Association (AACMA).

        p Thomas has currently stepped away from clinical practice to pursue a full-time academic role as the Senior Lecturer (Social Sciences) at Endeavour College of Natural Health (Perth campus). While he is not accepting new clients at the present time, he does anticipate returning to practice at some point in the future.

        p Thomas has also lectured and supervised in clinic with the Faculty of Chinese Medicine at Endeavour College in Perth and Sydney. He has also lectured with the Faculty of Shiatsu & Oriental Therapies at Nature Care College, Sydney.

        h3.Subheadline Qualifications
        ul
            li
                | Bachelor of Health Science, Traditional Chinese Medicine, &nbsp;
                br
                span.Text--inlineNote University of Technology Sydney

            li
                | Certificate of Traditional Chinese Medicine, &nbsp;
                span.Text--inlineNote Sino-Japanese Friendship Hospital, Beijing, PR China
            li
                | Diploma of Shiatsu Therapy, &nbsp;
                span.Text--inlineNote Nature Care College
            li
                | Masters of Culture, Health and Medicine, &nbsp;
                br
                span.Text--inlineNote Australian National University (current)
            li
                | Bachelor of Arts, &nbsp;
                span.Text--inlineNote Macquarie University
            li
                | AACMA Member &nbsp;
                span.Text--inlineNote Membership Number 2346
            li
                | AHPRA Member &nbsp;
                span.Text--inlineNote Membership Number <span>CMR</span>0001727430

footer
    != partial("../_shared/footer")
