!= partial("../_shared/header")
.Container
    article.Article
        //- h1.ArticleTitle Over a decade enabling self-healing.
        p.Text--dropCap Thomas is an AHPRA registered practitioner of acupuncture and Chinese herbal medicine, as well as practicing shiatsu massage. Specialising in the treatment of musculoskeletal conditions, stress reduction, pain management and menstrual/fertility irregularities, he welcomes people suffering from a wide range of health conditions.
        p Prior to arriving in Perth, Thomas ran a very well-established practice at the Buddha Bar Healing Clinic in Sydney's Inner Western suburb of Newtown. He is a member of the AHPRA regulated Chinese Medicine Registration Board (CMRB) and the peak industry representative body, the Australian Acupuncture and Chinese Medicine Association (AACMA).
        p Thomas is a lecturer with the Faculty of Chinese Medicine at Endeavour College’s Perth Campus. Previously he lectured and supervised students undergoing clinical training at Endeavour's Sydney Campus as well lecturing with the Faculty of Shiatsu & Oriental Therapies at Nature Care College.
        p Thomas draws on his knowledge of Chinese medicine theory and treatment in order to select a treatment approach that is best for his clients. This may be any combination of acupuncture, herbal medicine, shiatsu, cupping, moxibustion, gua sha and dietary/lifestyle advice.
        p Having trained for over a decade, including a clinical internship in Beijing, Thomas is highly qualified and has successfully treated many people with a wide range of health issues. Committed to working with you to restore your good health, Thomas creates a safe environment in which positive change and true healing can occur.

        h3.Subheadline Qualifications
        ul
            li
                | Bachelor of Health Science, Traditional Chinese Medicine, &nbsp;
                br
                span.Text--inlineNote University of Technology Sydney

            li
                | Certificate of Traditional Chinese Medicine, &nbsp;
                span.Text--inlineNote Sino-Japanese Friendship Hospital, Beijing, PR China
            li
                | Diploma of Shiatsu Therapy, &nbsp;
                span.Text--inlineNote Nature Care College
            li
                | Master of Arts (International Studies), &nbsp;
                br
                span.Text--inlineNote University of Technology Sydney (current)
            li
                | Bachelor of Arts, &nbsp;
                span.Text--inlineNote Macquarie University
            li
                | AACMA Member &nbsp;
                span.Text--inlineNote Membership Number 2346
            li
                | AHPRA Member &nbsp;
                span.Text--inlineNote Membership Number <span>CMR</span>0001727430

footer
    != partial("../_shared/footer")
