
/* ==================================================================

    FORMS

   ================================================================== */


#mc_embed_signup {
    margin-top: 1rem;
    margin-bottom: 2.5rem;
    // padding: 1rem 0 3.5rem;
    text-align: center;

    @include bp(sm) {
        padding: 1rem 1rem 1.5rem;
    }
}

#mc-embedded-subscribe-form {
    display: inline-block;

    @include bp(sm) {
        display: block;
        height: 38px;
    }
}

input,
textarea {
    height: 3rem;
    // border-radius: 2px;
    border: 1px solid $cLite;
    padding: 0 0 0 0.625rem;
    background-color: transparent;
    @include rem-fallback(20);
}

input[type="email"] {
    @extend %h2;
    float: left;
    width: rem(370);
    padding: 0.5rem 0 0.333rem 0.625rem;
    margin-top: 0;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    // background-color: lighten($cNeutral,1%);

    @include bp(sm) {
        width: 64%;
    }
}

input[type="submit"] {
    @extend %h2;
    float: left;
    width: rem(117);
    margin-left: rem(10);
    margin-top: 0;
    padding: 0;
    // border-radius: 3px;
    // @extend .Text--inlineAnchor;
    text-decoration: none;
    line-height: rem(48);
    text-align: center;
    // letter-spacing: 0.5px;
    // color: white;
    // background-color: lighten($cText,20%);
    // border-color: transparent;
    border-color: lighten($cText,40%);

    &:hover {
        color: white;
        background-color: $cRed;
        border-color: $cRed;
    }

    @include bp(sm) {
        width: 34%;
        margin-left: 2%;
    }
}

