<!-- ![San Huang San (Herbal ice)](/assets/img/blog-sanhuangsan.jpg) -->

figure
    img(src="/assets/img/blog-sanhuangsan.jpg", alt="San Huang San (Herbal ice)")

p Many people are unaware of the specialty area within Chinese medicine known as 'Dit Da' medicine. This translates literally as 'Hit-Fall' medicine and is a field of practice that developed alongside the Chinese martial arts. 'Dit Da' medicine was initially aimed at dealing with the types of musculoskeletal injuries that occured as a result of martial arts training — bruises, contusions, strains, sprains, cracked ribs, dislocations, bleeding and so on — at all stages of their presentation. In our day, it can be used to deal with any of these types of injuries that happen through accident or exercise in everyone's daily life. There is a huge number of herbal formulas, liniments, poultices, plasters and methods of applying acupuncture, cupping, moxibustion and gua sha (scraping) for dealing with traumatic injuries.

p Enter San Huang San — or more correctly in the format I use in clinic, San Huang Gou. The application I believe is best is when it's used as a poultice (gou). San Huang San can be applied to the site of a musculoskeletal injury such as a strain or sprain in the acute stage, when pain, heat, inflammation and swelling are present — i.e. virtually immediately after the injury has occurred. This is why it is called 'Herbal Ice', because it is used in place of an icepack. The herbs in the formula have cooling, anti-inflammatory, pain-killing and blood moving properties. Traditional martial arts schools often have San Huang San on hand in the first aid kit to slap straight on if someone is injured in training.

h3 Why Herbal Ice?

p Chinese medicine believes that the application of ice is not the way to go with acute musculoskeletal injury. While we recognise that putting an icepack on can immediately dull pain and reduce inflammation, we believe that it also introduces pathogenic Cold into the body, which can hamper full rehabilitation of the injury site. Ice reduces blood circulation at and around the injury which is essential for recovery and repair — and this effect can linger far longer than any positive benefit arising from its application. Have you got a niggly old injury that never completely healed, perhaps a weak ankle or similar that you sprained years ago? Chances are it was the ice that was applied that has a role in this weakness. San Huang San does everything that ice does — and more — without any of the side effects. It helps clear unwanted lymphatic fluid. It helps restore normal blood flow, as well as killing pain and reducing inflammation. And best of all it does not introduce Cold into the system as the herbs used are very gentle. It is almost a secret half-forgotten treatment that I believe everyone should learn about and benefit from!

h3 San Huang San now available

p I make my own San Huang San poultice for use in the clinic from a very old recipe. If you injure yourself and experience the symptoms mentioned above — get in touch straight away and come on in!
