p In this cool video, RMIT's Dr Zhen Zheng uses a great metaphor to help explain how acupuncture works in the body to restore healthy function. Enjoy!

.FlexEmbed.FlexEmbed--16by9.marginTM
    iframe.FlexEmbed-item(src='//www.youtube.com/embed/dhhdmahBQU8?rel=0', frameborder='0', allowfullscreen='allowfullscreen')
