.Grid.Grid--withGutterLg
    .Grid-cell.Grid-cell--center
        h2.SiteContact 
            //- | Get in touch:&nbsp;&nbsp;&nbsp;
            a(href="mailto:info@bellflowerchinesemedicine.com.au") Contact by email
            span &nbsp;&nbsp;&nbsp;•&nbsp;&nbsp;&nbsp;
            //- a(href="tel:0401-322-061") Call 0401 322 061
            //- span &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
            a(href="http://au.linkedin.com/in/thomascrooks" target="_blank") Connect on Linkedin
        
